# Devnet (remote server)
NEXT_PUBLIC_DEVNET_GRAPHQL_URL=http://YOUR_SERVER:6085/graphql
NEXT_PUBLIC_DEVNET_ROSETTA_URL=http://YOUR_SERVER:3087

# Mainnet (remote server)
NEXT_PUBLIC_MAINNET_GRAPHQL_URL=http://YOUR_SERVER:7085/graphql
NEXT_PUBLIC_MAINNET_ROSETTA_URL=http://YOUR_SERVER:4087

# Lightnet (remote server or localhost)
NEXT_PUBLIC_LIGHTNET_GRAPHQL_URL=http://YOUR_SERVER:9080/graphql
NEXT_PUBLIC_LIGHTNET_ROSETTA_URL=http://YOUR_SERVER:8087
