# Devnet (remote server)
DEVNET_GRAPHQL_URL=http://YOUR_SERVER:6085/graphql
DEVNET_ROSETTA_URL=http://YOUR_SERVER:3087

# Mainnet (remote server)
MAINNET_GRAPHQL_URL=http://YOUR_SERVER:7085/graphql
MAINNET_ROSETTA_URL=http://YOUR_SERVER:4087

# Lightnet (remote server or localhost)
LIGHTNET_GRAPHQL_URL=http://YOUR_SERVER:9080/graphql
LIGHTNET_ROSETTA_URL=http://YOUR_SERVER:8087
